.tecla {
  outline: none;
  border: 1px solid black;
  text-align: center;
  font-size: 20px;
  line-height: 60px;
  background-color: rgb(14, 104, 146);
  color: white;
  cursor: pointer;
  opacity: 0.7;
}

.tecla:hover {
  opacity: 1;
}